{% extends "_layout/index.html.twig" %}

{% block head %}
	{{ parent() }}
{% endblock %}

{% block content %}
	<div class="page-header">
		<h1>'{{device.name}}' Details</h1>
	</div>
	<ol class="breadcrumb">
        <li>
            <a href="/dashboard"><i class="fa fa-dashboard"></i>  Dashboard</a>
        </li>
        <li class="active">
            <a href="/devices"><i class="fa fa-list"></i> Devices</a>
        </li>
        <li class="active">
            <i class="fa fa-area-chart"></i> Details
        </li>
    </ol>
	<div class="container">
		<div class="row">

			<div class="col-lg-3 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-bolt fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge" id="vrms">{{vrms}}</div>
								<div>Volt{{vrms==1?'':'s'}} RMS</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-bolt fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge" id="irms">{{irms}}</div>
								<div>Amp{{irms==1?'':'s'}} RMS</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-2 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-bolt fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge" id="real">{{real}}</div>
								<div style="margin-left: -10px;">Real Power</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-2 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-bolt fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge" id="powerfactor">{{powerfactor}}</div>
								<div style="margin-left: -10px;">Power Factor</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-2 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-bolt fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge" id="apparent">{{apparent}}</div>
								<div style="margin-left: -10px;">Apparent Power</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- <div class="col-lg-2 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-bolt fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">{{kWhToday}}</div>
								<div style="margin-left: -10px;">kWh{{kWhToday==1?'':'s'}} today</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->

		</div>

		<div class="panel panel-default">
	        <div class="panel-heading">
	            <i class="fa fa-bar-chart-o fa-fw"></i> Historical Power Consumption for '{{device.name}}'
	        </div>

	        <div class="panel-body">
	            <canvas id="powerHist" width="616" height="308"></canvas>
	        </div>

	    </div>

	    <div class="panel panel-default">
	        <div class="panel-heading">
	            <i class="fa fa-plug fa-fw"></i> Outlet control for '{{device.name}}'
	        </div>

	        <div class="panel-body">

				<div style="display:inline-block">

					<!-- <div class="container"> -->
				        <div class="row">
					        <div class="col-md-5">
					        	<img src="{{static}}/img/outlet.svg" alt="Outlet" style="width:100%">
					        </div>
				            <div class="col-md-2">

					            <div class="panel panel-default" style="display:inline-block">
							        <div class="panel-heading">
							            <i class="fa fa-plug fa-fw"></i> Outlet 1
							        </div>
							        <div class="panel-body">
							            <input class="switch" id="outlet1" type="checkbox" name="my-checkbox">
							        </div>
							    </div>

							    <div class="panel panel-default" style="display:inline-block">
							        <div class="panel-heading">
							            <i class="fa fa-plug fa-fw"></i> Outlet 2
							        </div>
							        <div class="panel-body">
							            <input class="switch" id="outlet2" type="checkbox" name="my-checkbox">
							        </div>
							    </div>
						    </div>
						</div>
					<!-- </div> -->
			    </div>

	        </div>

	    </div>

	</div>
	<div>
		<ul class="test"></ul>
	</div>
	<script src="http://localhost:2648/socket.io/socket.io.js"></script>
	<script>
	  var socket = io('http://localhost:2648/');
	  socket.on('connect', function () {
	  	console.log("Connected");

	  	socket.emit('who', '{{device.core_id}}');

	    socket.on('message', function (msg) {
	    	$('ul.test').append($('<li>').text(msg));
	    });

	    socket.on('data', function (data) {
	    	console.log(data);

	    	$('#vrms').text(data.vrms);
	    	$('#irms').text(data.irms);
	    	$('#real').text(data.real);
	    	$('#powerfactor').text(data.pf);
	    	$('#apparent').text(data.apparent);
	    });
	  });
	</script>
{% endblock %}

{% block foot %}
	{{ parent() }}
	<script type="text/javascript">
	$(document).ready(function(){
		// console.log($(".switch"));
		$('input[name="my-checkbox"]').bootstrapSwitch({
			onSwitchChange: function (event, state) {
				// console.log(event, event.target.id, state);
				var url = 'https://api.spark.io/v1/devices/{{device.core_id}}/control?access_token={{device.access_token}}';
				var arg = (event.target.id=='outlet1'?'D5':'D6')+' '+(state?'HIGH':'LOW');
				// console.log(url, arg);
				$.post(
					url,
					{args:arg}, function (data) {
						// console.log("success", data);
					});
			}
		});
		// .bootstrapSwitch();
	});
	</script>
{% endblock %}