{% extends "_layout/index.html.twig" %}

{% block head %}
	{{ parent() }}
{% endblock %}

{% block content %}
	<div class="page-header">
		<h1>'{{device.name}}' Details</h1>
	</div>
	<ol class="breadcrumb">
		<li class="active">
			<a href="/devices"><i class="fa fa-list"></i> Devices</a>
		</li>
		<li class="active">
			<i class="fa fa-area-chart"></i> Details
		</li>
	</ol>
	<div class="container">
		<div class="row">

			<div class="col-lg-4 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading text-right">
						<div class="huge">
							<span id="vrms_1">{{vrms}}</span> | <span id="vrms_2">{{vrms}}</span><span class="small"> V<sub>RMS</sub></span>
						</div>
						<div>RMS Voltage</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading text-right">
						<div class="huge">
							<span id="irms_1">{{irms}}</span> | <span id="irms_2">{{irms}}</span><span class="small"> A<sub>RMS</sub></span>
						</div>
						<div>RMS Current</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading text-right">
						<div class="huge">
							<span id="app_1">{{irms}}</span> | <span id="app_2">{{irms}}</span><span class="small"> VA</span>
						</div>
						<div>Apparent Power</div>
					</div>
				</div>
			</div>

			<!-- <div class="col-lg-2 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-bolt fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge" id="real">{{real}}</div>
								<div style="margin-left: -10px;">Real Power</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->

			<!-- <div class="col-lg-2 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-bolt fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge" id="powerfactor">{{powerfactor}}</div>
								<div style="margin-left: -10px;">Power Factor</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->

			<!-- <div class="col-lg-4 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row"> -->
							<!-- <div class="col-xs-3">
								<i class="fa fa-bolt fa-5x"></i>
							</div> -->
							<!-- <div class="col-xs-9 text-right">
								<div class="huge">
									<span id="apparent">{{apparent}}</span><span class="small"> VA</span>
								</div>
								<div style="margin-left: -10px;">Apparent Power</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->

			<!-- <div class="col-lg-2 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-bolt fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">{{kWhToday}}</div>
								<div style="margin-left: -10px;">kWh{{kWhToday==1?'':'s'}} today</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->

		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-bar-chart-o fa-fw"></i> Historical Power Consumption for '{{device.name}}'
			</div>

			<div class="panel-body">
				<div id="chart" class="c3" style="max-height: 320px; position: relative;"></div>
			</div>

		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">

					<div class="panel-heading">
						<i class="fa fa-plug fa-fw"></i> Outlet control for '{{device.name}}'
					</div>
					<div class="panel-body"  style="display:inline-block">
						<div class="row">
							<div class="col-md-5 col-lg-5 col-xs-5 col-sm-5">
								<img src="{{static}}/img/outlet.svg" alt="Outlet" style="width:100%">
							</div>
							<div class="col-md-2">

								<div class="panel panel-default" style="display:inline-block">
									<div class="panel-heading">
										<i class="fa fa-plug fa-fw"></i> Outlet 1
									</div>
									<div class="panel-body">
										<input class="switch" id="outlet1" type="checkbox" name="my-checkbox">
									</div>
								</div>

								<div class="panel panel-default" style="display:inline-block">
									<div class="panel-heading">
										<i class="fa fa-plug fa-fw"></i> Outlet 2
									</div>
									<div class="panel-body">
										<input class="switch" id="outlet2" type="checkbox" name="my-checkbox">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-list-ul"></i> Statistics
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="row">
							<div style="padding: 0 15px">
								<div class="table-responsive">
									<table class="table table-bordered table-hover table-striped">
										<thead>
											<tr>
												<th>Metric</th>
												<th>Current</th>
												<th>Voltage</th>
												<th>Apparent Power</th>
											</tr>
										</thead>
										<tbody>
											{% for metric, value in stats %}
											<tr>
												<td>{{metric}}</td>
												<td>{{value.i}} A<sub>RMS</sub></td>
												<td>{{value.v}} V<sub>RMS</sub></td>
												<td>{{value.a}} VA</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
								<!-- /.table-responsive -->
							</div>
						</div>
						<!-- /.row -->
					</div>
					<!-- /.panel-body -->
				</div>

			</div>
		</div>
	</div>

	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script>
		var socket = io('http://'+window.location.host+':2648/');
		socket.on('connect', function () {

			console.log("Connected to SocketIO Server");

			var RETRY_MS = 2000;
			timeoutHandle = setInterval(function(){
				console.log("Attempting subscription create");
				socket.emit('who', '{{device.core_id}}'); //tell the server what core we are interested in live data for
			}, RETRY_MS);

			//lets wait for the server to reply to our request before sending another to the core
			socket.on('who', function () {
				clearInterval(timeoutHandle);

				console.log("Rec'd who");
				timeoutHandle = setInterval(function(){
					console.log("Attempting status retrival");
					socket.emit('status'); //request information about socket status
				}, RETRY_MS);

				//Handle the status reply
				socket.on('status', function (sockets) {
					clearInterval(timeoutHandle);

					console.log("Rec'd status", sockets);
					for (var id in sockets) {
						var state = sockets[id];
						console.log(id, state);
						$('input[name="my-checkbox"]#'+id).bootstrapSwitch('indeterminate',false); //clear the initial indeterminate state.
						$('input[name="my-checkbox"]#'+id).bootstrapSwitch('state',state=="on", true);// set the accurate state based on data from the server.
					}
				});
			});
		});
	</script>
{% endblock %}

{% block foot %}
	{{ parent() }}
	<script type="text/javascript" src="{{static}}/libs/momentjs/js/moment.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		// console.log($(".switch"));
		$('input[name="my-checkbox"]').bootstrapSwitch({
			indeterminate: true, //start the switch in the indeterminate state until we get word from the server.
			onSwitchChange: function (event, state, test) {
				//when the switch is clicked send the state information to the server.
				var data = {
					outlet: event.target.id,
					state: (state?'on':'off')
				};
				socket.emit('control', data); //Tell the server the state has changed
			}
		});
	});
	</script>
	<script>
	$(document).ready(function(){

		var series_labels = [
			'x',
			'RMS Voltage 1 [V]',
			'RMS Voltage 2 [V]',
			'RMS Current 1 [A]',
			'RMS Current 2 [A]',
			'Apparent Power 1 [VA]',
			'Apparent Power 2 [VA]'
		];

		var series_vars = [
			't',

		];

		// columns: [ //DO NOT CHANGE THIS ORDER
		// 		[series_labels[0], {{data_time}}],
		// 		[series_labels[1], {{data_vrms1}}],
		// 		[series_labels[2], {{data_vrms2}}],
		// 		[series_labels[3], {{data_irms1}}],
		// 		[series_labels[4], {{data_irms2}}],
		// 		[series_labels[5], {{data_app1}}],
		// 		[series_labels[6], {{data_app2}}],
		// 	],

		var data = {
			// type: 'spline',
			x: 'x', // x data is stored in the column labeled 'x'
			xFormat: '%Y-%m-%d %H:%M:%S',
			columns: [ //DO NOT CHANGE THIS ORDER
				[series_labels[0], {{data_time}}],
				[series_labels[1], {{data_vrms1}}],
				// [series_labels[2], {{data_vrms2}}],
				// [series_labels[3], {{data_irms1}}],
				// [series_labels[4], {{data_irms2}}],
				// [series_labels[5], {{data_app1}}],
				// [series_labels[6], {{data_app2}}],

			],
			axes: {
				'RMS Current 1 [A]': 'y2'
			}
		};

		var chart = c3.generate({
			bindto: '#chart',
			data: data,
			axis: {
				y: {
					label: {
						text: 'Voltage and Power',
						position: 'outer-middle'
					}
				},
				y2: {
					show: true,
					label: {
						text: 'Current',
						position: 'outer-middle'
					},
					max: 16,
					min: 0
				},
				x: {
					type: 'timeseries',
					tick: {
						format: '%_I:%M %p %m/%d ',
						rotate: 8,
						// height: 130
						count: 10
					}
				}
			},
			grid: {
				x: {show: true},
				y: {show: true}
			}
		});

		socket.on('data', function (datain){
			console.log(datain);

			//Properly format the timestamp
			datain.t = moment.unix(datain.t).format('YYYY-MM-DD HH:mm:ss');

			// idx = 0;
			// label = series_labels[idx];
			// new_arr = data.columns[idx].slice(0); //make copy
			// new_arr.shift(); //remove label
			// new_arr.shift(); //remove first element
			// new_arr.unshift(label);
			// new_arr.push(datain.t);
			// data.columns[idx] = new_arr;

			if (datain.s_id == "0") {
				$('#vrms_1').text(datain.vrms[0].toFixed(1));
				$('#irms_1').text(datain.irms[0].toFixed(2));
				$('#app_1').text(datain.app[0].toFixed(1));

				// idx = 1;
				// label = series_labels[idx];
				// new_arr = data.columns[idx].slice(0); //make copy
				// new_arr.shift(); //remove label
				// new_arr.shift(); //remove first element
				// new_arr.unshift(label);
				// new_arr.push(datain.vrms[0]);
				// data.columns[idx] = new_arr;
			}
			if (datain.s_id == "1") {
				$('#vrms_2').text(datain.vrms[0].toFixed(1));
				$('#irms_2').text(datain.irms[0].toFixed(2));
				$('#app_2').text(datain.app[0].toFixed(1));

				// idx = 2;
				// label = series_labels[idx];
				// new_arr = data.columns[idx].slice(0); //make copy
				// new_arr.shift(); //remove label
				// new_arr.shift(); //remove first element
				// new_arr.unshift(label);
				// new_arr.push(datain.vrms[0]);
				// data.columns[idx] = new_arr;
			}

			

			

			// idx = 2;
			// label = series_labels[idx];
			// new_arr = data.columns[idx].slice(0); //make copy
			// new_arr.shift(); //remove label
			// new_arr.shift(); //remove first element
			// new_arr.unshift(label);
			// new_arr.push(datain.vrms[0]);
			// data.columns[idx] = new_arr;

			// idx = 3;
			// label = series_labels[idx];
			// new_arr = data.columns[idx].slice(0); //make copy
			// new_arr.shift(); //remove label
			// new_arr.shift(); //remove first element
			// new_arr.unshift(label);
			// new_arr.push(datain.irms[0]);
			// data.columns[idx] = new_arr;

			// idx = 4;
			// label = series_labels[idx];
			// new_arr = data.columns[idx].slice(0); //make copy
			// new_arr.shift(); //remove label
			// new_arr.shift(); //remove first element
			// new_arr.unshift(label);
			// new_arr.push(datain.irms[0]);
			// data.columns[idx] = new_arr;

			// idx = 5;
			// label = series_labels[idx];
			// new_arr = data.columns[idx].slice(0); //make copy
			// new_arr.shift(); //remove label
			// new_arr.shift(); //remove first element
			// new_arr.unshift(label);
			// new_arr.push(datain.app[0]);
			// data.columns[idx] = new_arr;

			// idx = 6;
			// label = series_labels[idx];
			// new_arr = data.columns[idx].slice(0); //make copy
			// new_arr.shift(); //remove label
			// new_arr.shift(); //remove first element
			// new_arr.unshift(label);
			// new_arr.push(datain.app[0]);
			// data.columns[idx] = new_arr;

			chart.load(data);
		});
	// 		// return;
			// $('#vrms').text(datain.vrms[0].toFixed(1));
	//
	// 		// $('#real').text(datain.r.toFixed(3));
	// 		// $('#powerfactor').text(datain.pf.toFixed(3));
	// 		$('#apparent').text(datain.app[0].toFixed(1));
	// 		datain.t = moment.unix(datain.t).format('YYYY-MM-DD HH:mm:ss');

	// 		// remove the label, remove the old data element, readd the label, add the new data
	// 		label = data.columns[0].shift();
	// 		data.columns[0].shift();
	// 		data.columns[0].unshift(label);
	// 		data.columns[0].push(datain.t);

	// 		label = data.columns[1].shift();
	// 		data.columns[1].shift();
	// 		data.columns[1].unshift(label);
	// 		data.columns[1].push(datain.vrms[0]);

	// 		// if (datain.
	// 		label = data.columns[2].shift();
	// 		data.columns[2].shift();
	// 		data.columns[2].unshift(label);
	// 		data.columns[2].push(datain.irms[0]);

	// 		label = data.columns[3].shift();
	// 		data.columns[3].shift();
	// 		data.columns[3].unshift(label);
	// 		data.columns[3].push(datain.irms[0]);

	// 		label = data.columns[4].shift();
	// 		data.columns[4].shift();
	// 		data.columns[4].unshift(label);
	// 		data.columns[4].push(datain.app[0]);

	// 		// chart.load(data);

	// 	});




	});
	</script>
{% endblock %}
