{% extends "_layout/index.html.twig" %}

{% block head %}
	{{ parent() }}
{% endblock %}

{% block content %}
	<div class="page-header">
		<h1>'{{device.name}}' Details</h1>
	</div>
	<ol class="breadcrumb">
		<li>
			<a href="/dashboard"><i class="fa fa-dashboard"></i>  Dashboard</a>
		</li>
		<li class="active">
			<a href="/devices"><i class="fa fa-list"></i> Devices</a>
		</li>
		<li class="active">
			<i class="fa fa-area-chart"></i> Details
		</li>
	</ol>
	<div class="container">
		<div class="row">

			<div class="col-lg-4 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-bolt fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">
									<span id="vrms">{{vrms}}</span><span class="small"> V<sub>RMS</sub></span>
								</div>
								<div>RMS Voltage</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-bolt fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">
									<span id="irms">{{irms}}</span><span class="small"> A<sub>RMS</sub></span>
								</div>
								<div>RMS Current</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- <div class="col-lg-2 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-bolt fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge" id="real">{{real}}</div>
								<div style="margin-left: -10px;">Real Power</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->

			<!-- <div class="col-lg-2 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-bolt fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge" id="powerfactor">{{powerfactor}}</div>
								<div style="margin-left: -10px;">Power Factor</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->

			<div class="col-lg-4 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-bolt fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">
									<span id="apparent">{{apparent}}</span><span class="small"> VA</span>
								</div>
								<div style="margin-left: -10px;">Apparent Power</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- <div class="col-lg-2 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-bolt fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">{{kWhToday}}</div>
								<div style="margin-left: -10px;">kWh{{kWhToday==1?'':'s'}} today</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->

		</div>

		


		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-bar-chart-o fa-fw"></i> Historical Power Consumption for '{{device.name}}'
			</div>

			<div class="panel-body">
				<div id="chart" class="c3" style="max-height: 320px; position: relative;"></div>
			</div>

		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">

					<div class="panel-heading">
						<i class="fa fa-plug fa-fw"></i> Outlet control for '{{device.name}}'
					</div>
					<div class="panel-body"  style="display:inline-block">
						<!-- <div class="container"> -->
							<div class="row">
								<div class="col-md-5 col-lg-5 col-xs-5 col-sm-5">
									<img src="{{static}}/img/outlet.svg" alt="Outlet" style="width:100%">
								</div>
								<div class="col-md-2">

									<div class="panel panel-default" style="display:inline-block">
										<div class="panel-heading">
											<i class="fa fa-plug fa-fw"></i> Outlet 1
										</div>
										<div class="panel-body">
											<input class="switch" id="outlet1" type="checkbox" name="my-checkbox">
										</div>
									</div>

									<div class="panel panel-default" style="display:inline-block">
										<div class="panel-heading">
											<i class="fa fa-plug fa-fw"></i> Outlet 2
										</div>
										<div class="panel-body">
											<input class="switch" id="outlet2" type="checkbox" name="my-checkbox">
										</div>
									</div>
								</div>
							</div>
						<!-- </div> -->
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-list-ul"></i> Statistics
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-4">
								<div class="table-responsive">
									<table class="table table-bordered table-hover table-striped">
										<thead>
											<tr>
												<th>Metric</th>
												<th>Value</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>3326</td>
												<td>10/21/2013</td>
											</tr>
											<tr>
												<td>3325</td>
												<td>10/21/2013</td>
											</tr>
											<tr>
												<td>3324</td>
												<td>10/21/2013</td>
											</tr>
											<tr>
												<td>3323</td>
												<td>10/21/2013</td>
											</tr>
											<tr>
												<td>3322</td>
												<td>10/21/2013</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- /.table-responsive -->
							</div>
						</div>
						<!-- /.row -->
					</div>
					<!-- /.panel-body -->
				</div>

			</div>
			</div>
		</div>

		

		
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script>
		var socket = io('http://'+window.location.host+':2648/');
		socket.on('connect', function () {
			console.log("Connected to SocketIO Server");

			//lets wait for the server to reply to our request before sending another to the core
			socket.on('who', function () {
				console.log("Rec Who");
				socket.emit('status'); //request information about socket status

				//Handle the status reply
				socket.on('status', function (sockets) {
					console.log("rec status");
					for (var id in sockets) {
						var state = sockets[id];
						$('input[name="my-checkbox"]#'+id).bootstrapSwitch('indeterminate',false); //clear the initial indeterminate state.
						$('input[name="my-checkbox"]#'+id).bootstrapSwitch('state',state=="on", true);// set the accurate state based on data from the server.
					}
				});
			});
			socket.emit('who', '{{device.core_id}}'); //tell the server what core we are interested in live data for
		});
	</script>
{% endblock %}

{% block foot %}
	{{ parent() }}
	<script type="text/javascript" src="{{static}}/libs/momentjs/js/moment.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		// console.log($(".switch"));
		$('input[name="my-checkbox"]').bootstrapSwitch({
			indeterminate: true, //start the switch in the indeterminate state until we get word from the server.
			onSwitchChange: function (event, state, test) {
				//when the switch is clicked send the state information to the server.
				var data = {
					core: "{{device.core_id}}",
					outlet: event.target.id,
					state: (state?'on':'off')
				};
				socket.emit('control', data); //Tell the server the state has changed
			}
		});
	});
	</script>
	<script>
	$(document).ready(function(){

		var data = {
			// type: 'spline',
			x: 'x', // x data is stored in the column labeled 'x'
			xFormat: '%Y-%m-%d %H:%M:%S',
			columns: [ //DO NOT CHANGE THIS ORDER
				['x', {{data_time}}],
				['RMS Voltage [V]', {{data_vrms}}],
				['RMS Current [A]', {{data_irms}}],
				['Apparent Power [VA]', {{data_app}}],
			],
			axes: {
				'RMS Current [A]': 'y2'
			}
		};

		var chart = c3.generate({
			bindto: '#chart',
			data: data,
			axis: {
				y: {
					label: {
						text: 'Voltage and Power',
						position: 'outer-middle'
					}
				},
				y2: {
					show: true,
					label: {
						text: 'Current',
						position: 'outer-middle'
					},
					max: 16,
					min: 0
				},
				x: {
					type: 'timeseries',
					tick: {
						format: '%_I:%M %p %m/%d ',
						rotate: 8,
						// height: 130
						count: 10
					}
				}
			},
			grid: {
				x: {show: true},
				y: {show: true}
			}
		});

		socket.on('data', function (datain){
			console.log(datain);
			// return;
			$('#vrms').text(datain.vrms[0].toFixed(1));
			$('#irms').text(datain.irms[0].toFixed(2));
			// $('#real').text(datain.r.toFixed(3));
			// $('#powerfactor').text(datain.pf.toFixed(3));
			$('#apparent').text(datain.app[0].toFixed(1));
			datain.t = moment.unix(datain.t).format('YYYY-MM-DD HH:mm:ss');
			// console.log(datain.t, moment.unix(datain.t).format('YYYY-MM-DD HH:mm:ss'));

			// console.log(datain);
			// // for (var i = 0; i < data.columns.length; i++) {
			// 	//remove the first data element and append a new data element at the end
				data.columns[0].splice(1, 1);
				data.columns[0].push(datain.t);
				data.columns[1].splice(1, 1);
				data.columns[1].push(datain.vrms[0]);
				data.columns[2].splice(1, 1);
				data.columns[2].push(datain.irms[0]);
				data.columns[3].splice(1, 1);
				data.columns[3].push(datain.app[0]);
				// console.log(data.columns);
			// // };
			chart.load(data);

		});




	});
	</script>
{% endblock %}