{% extends "_layout/index.html.twig" %}

{% block head %}
	{{ parent() }}
{% endblock %}

{% block content %}
	<div class="page-header">
		<h1>'{{device.name}}' Program</h1>
	</div>
	<ol class="breadcrumb">
		<li class="active">
			<a href="/devices"><i class="fa fa-list"></i> Devices</a>
		</li>
		<li class="active">
			<i class="fa fa-code"></i> Program
		</li>
	</ol>
	<!-- <div class="container"> -->
		<div class="row">
			<div class="col-sm-12">

				<style>
					.blockly {
						width: 100%;
						/*height: 100%;*/
						border-style: solid;
						border-color: #ddd;
						border-width: 0 1px 1px 0;
						margin-bottom: 10px;
					}
				</style>
				<div id="content">
					<iframe class="blockly" id="blockly" src="{{static}}/blockly/index.html"></iframe>
				</div>

			</div>
		</div>
		<div class="row text-right" style="margin-top: 10px;">
			<div class="col-sm-12">
				{{form_open('/devices/program', program_form_attrs)}}
					<input name="device_id" type="hidden" value="{{device.device_id}}">
					<textarea name="xml" style="display:none;"></textarea>
					<textarea name="javascript" style="display:none;"></textarea>

					<button class="btn btn-danger discard">Discard</button>
					<button class="btn btn-success save">Save</button>
				</form>
			</div>
		</div>
	<!-- </div> -->
	<div id="program_to_load" class="hidden" style="display:none;">
		{{code.xml}}
	</div>
{% endblock %}

{% block foot %}
	{{ parent() }}
	<script>
		function blocklyLoaded(blockly) {
			// Called once Blockly is fully loaded.
			window.Blockly = blockly;
			console.log("Blockly Loaded!");

			//load the saved program
			if ($('#program_to_load xml').length >= 1) {
				Blockly.Xml.domToWorkspace(Blockly.mainWorkspace,
        		$('#program_to_load xml')[0]);
			}
		}
		/**
		 * Make the #content element fill the remaining horizontal space
		 * @param  {int} fudge fudge factor
		 */
		function adjContentHeight (fudge) {
			if (typeof fudge == 'undefined') {
				fudge = 0;
			};
			var content = $('#content');
			// content.height(500); //This seems to fix a resize glitch
			var newheight = $(window).height() - content.offset().top - $('footer').height();
			newheight = newheight - parseInt(content.css('padding-top')) - parseInt(content.css('padding-bottom')) + fudge;
			content.height(newheight);
			$('#blockly').height(0).height("100%"); //This seems to fix a resize glitch
		}
		$(window).resize(function() {
			adjContentHeight(-110);
		}).resize();
	</script>
	<script>
		$(document).ready(function(){
			$('.btn.save').click(function(evt){
				evt.preventDefault();
				var xmlDom = Blockly.Xml.workspaceToDom(Blockly.mainWorkspace);
				var xmlText = Blockly.Xml.domToPrettyText(xmlDom);
				// console.log(xmlText);
				$('.dataform textarea[name="xml"]').val(xmlText);
				var jsCode = Blockly.JavaScript.workspaceToCode(Blockly.mainWorkspace)

				$('.dataform textarea[name="javascript"]').val(jsCode);

				$('.dataform').submit();
			})
		});
	</script>

{% endblock %}