{% extends "_layout/index.html.twig" %}



{% block head %}
	{{ parent() }}
	<script src="http://localhost:3000/socket.io/socket.io.js"></script>
	<script>
		var socket = io('http://localhost:3000');
		socket.on('news', function (data) {
			console.log(data);
			// socket.emit('my other event', { my: 'data' });
			$('#list').append($('<li>').text(JSON.stringify(data)));
		});
	</script>
{% endblock %}

{% block content %}
	<div class="page-header">
		<a class="btn btn-primary pull-right" role="button" href="{{ site_url("/devices/add") }}">Add a {{ proj_name }}</a>
		<h1>{{proj_name}} List <small>How many {{proj_name}}s do you have?</small></h1>
	</div>
	<div class="container">
		<div class="row">
		{% if devices %}
			<table class="table">
				<thead>
					<tr>
						{% for key in devices[0]|keys %}
							<th>{{ key }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for device in devices %}
						<tr>
							{% for property in device %}
								<td>{{ property }}</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			No Devices
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block foot %}
	{{ parent() }}
	<h1>Heading</h1>
	<ul id="list"></ul>
{% endblock %}