{% extends "_layout/index.html.twig" %}

{% block head %}
	{{ parent() }}
{% endblock %}

{% block content %}
	<div class="page-header">
		<h1>Start here <small>Five steps to start saving today!</small></h1>
	</div>
	<ol>
		THIS PAGE IS OBSOLETE
		<li>Buy your {{proj_name}} today at these <a href="#" target="_blank">fine retailers @todo</a></li>
		<li>Open your {{proj_name}} and connect it to power</li>
		<li>Use your mobile device to connect your {{proj_name}} to your WIFI network</li>
		<li>Plug appliances into your {{proj_name}}</li>
		<li>Create power schedules and start saving!</li>
	</ol>
{% endblock %}

{% block foot %}
	{{ parent() }}
{% endblock %}